.main-container {
  width: 100%;
  height: 100%;
  background-color: #5262BC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding: 10px;
}

.card {
  width: 40%;
}

@media only screen and (max-width: 1025px) {
  .card {
    width: 80%;
  }
}
