<div class="container">
  <h2>Available hours</h2>

  <div class="spinner-card" *ngIf="showSpinner; else hoursList">
    <mat-spinner class="center"></mat-spinner>
  </div>

  <ng-template #hoursList>
    <div *ngIf="hours.length > 0; else elseBlock">
      <mat-button-toggle-group
        [(ngModel)]="bookingId"
        (change)="updateSelectedHour()"
      >
        <mat-button-toggle
          color="primary"
          *ngFor="let item of hours"
          [value]="item.hour.bookingId"
        >
          {{ item.hour.formattedHour }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <ng-template #elseBlock>No times available.</ng-template>
  </ng-template>
</div>
