#logo {
  margin-right: 10px;
  margin-bottom: 5px;
}

#main-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

::ng-deep .mat-menu-panel {
  width: 200px !important;
}

@media (max-width: 600px) {
  #logo {
    width: 25px;
  }

  #navbar-title {
    font-size: 16px;
  }
}