#logo {
  margin-right: 10px;
  margin-bottom: 5px;
}

#main-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  width: 250px !important;
}
