html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 45%;
}

.cols-3 {
  float: left;
  width: 33%;
}

.cols-4 {
  float: left;
  width: 25%;
}

.cols-5 {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer {
  flex: 1 1 auto;
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #3b3b3b !important;
}

.container {
  padding: 70px;
}

/* ---------------- Form styles ---------------- */
form {
  padding: 30px;
}

.input-field {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.access-button {
  width: 100%;
}

.center {
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding-top: 30px;
}
/* ------------------------------------------ */

.reservation-list {
  width: 80%;
}

/* ---------------- Table styles ---------------- */
.mat-card-title-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-radius: 10px;
}

.table-content {
  width: 100%;
  padding-top: 10px;
}

.table-header {
  color: white;
  padding: 18px 20px;
  margin: 0px 15px;
}

.table-title {
  font-size: 1.2rem;
  font-weight: normal;
}

tr.no-data-row {
  display: flex;
  border-width: 0;
  border-style: solid;
  margin-top: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-id {
  flex: 0 0 10%;
}

.action-button {
  color: grey;
}

.mobile-label {
  display: none;
}
/* ------------------------------------------ */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.page-content {
  padding: 15px 40px 0px 40px;
  background: #fdfdfd;
  min-height: calc(100vh - 190px);
  margin-top: 20px;
}

.dialog-responsive {
  width: 40%;
}

/* Responsive */
@media (max-width: 600px) {
  .reservation-list {
    width: 100%;
  }

  .mat-typography h2 {
    font-size: 17px;
  }

  .column,
  .cols-3,
  .cols-4,
  .cols-5 {
    width: 100%;
  }

  .input-field {
    padding: 0px;
  }
}

@media only screen and (max-width: 850px) {
  .dialog-responsive {
    width: 100%;
  }

  .mat-cell:first-of-type {
    padding-left: 0px;
  }

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    padding-left: 0px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .reservation-list {
    width: 100%;
  }

  .cols-5 {
    width: 50%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .reservation-list {
    width: 85%;
  }

  .cols-4 {
    width: 50%;
  }

  .cols-5 {
    width: 33%;
  }
}

@media (min-width: 1200) {
  .cols-5 {
    width: 25%;
  }
}
