<mat-toolbar color="primary">
  <div id="main-label">
    <div id="logo-title-group" (click)="goToLabGrid()">
      <img id="logo" src="./assets/eeda-logo.png" alt="logo" width="32px" />
      <span id="navbar-title">EEDA Remote Lab Booking System</span>
    </div>

    <button
      *ngIf="!isProfessor && isLoggedIn && !(isHandset | async)?.matches"
      mat-button
      aria-label="Instructor access"
      (click)="goToInstructorAccess()"
      class="instructor-access-button"
    >
      <mat-icon>school</mat-icon>
      <span>Instructor Access</span>
    </button>
  </div>

  <span class="spacer"></span>

  <!-- Mobile menu -->
  <button
    type="button"
    aria-label="side nav"
    [matMenuTriggerFor]="menu"
    mat-icon-button
    *ngIf="(isHandset | async)!.matches; else navbarButtons"
  >
    <mat-icon aria-label="Side nav icon">menu</mat-icon>
  </button>

  <mat-menu class="navbar-menu" #menu="matMenu">
    <div *ngIf="isLoggedIn; else showLoginButton">
      <button
        *ngIf="!isProfessor"
        mat-menu-item
        aria-label="Instructor access"
        (click)="goToInstructorAccess()"
      >
        <mat-icon class="icon">school</mat-icon>
        <span>Instructor Access</span>
      </button>

      <button 
        mat-menu-item 
        aria-label="Booking button" 
        (click)="goToLabGrid()"
      >
        <mat-icon class="icon">book_online</mat-icon>
        <span>New booking</span>
      </button>

      <button
        mat-menu-item
        aria-label="Labs button"
        (click)="goToLabManager()"
        *ngIf="isProfessor"
      >
        <mat-icon class="icon">science</mat-icon>
        <span>My Laboratories</span>
      </button>

      <button
        mat-menu-item
        aria-label="Learnify module button"
        (click)="isProfessor ? goToLearnifyProfessor() : goToLearnifyStudent()"
      >
        <mat-icon class="icon">library_books</mat-icon>
        <span>Learnify Module</span>
      </button>

      <button
        mat-menu-item
        aria-label="Public reservation list button"
        (click)="goToPublicReservations()"
      >
        <mat-icon class="icon">list</mat-icon>
        <span>Public Rooms</span>
      </button>

      <button
        mat-menu-item
        aria-label="Personal reservation list button"
        (click)="goToMyReservations()"
      >
        <mat-icon class="icon">list</mat-icon>
        <span>My Reservations</span>
      </button>

      <button
        mat-menu-item
        aria-label="Profile list button"
        (click)="goToMyProfile()"
      >
        <mat-icon class="icon">person</mat-icon>
        <span>Profile</span>
      </button>

      <button mat-menu-item aria-label="Logout icon" (click)="logout()">
        <mat-icon class="icon">logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>

    <ng-template #showLoginButton>
      <button mat-button aria-label="Logout icon" (click)="goToLogin()">
        <mat-icon class="icon">login</mat-icon>
        <span>Login</span>
      </button>
    </ng-template>
  </mat-menu>

  <!-- Web menu -->
  <ng-template #navbarButtons>
    <div *ngIf="isLoggedIn; else showLoginButton">
      <button 
        mat-button 
        aria-label="Booking button" 
        (click)="goToLabGrid()"
      >
        <mat-icon class="icon">book_online</mat-icon>
        <span>New Booking</span>
      </button>

      <button
        mat-button
        aria-label="Labs button"
        (click)="goToLabManager()"
        *ngIf="isProfessor"
      >
        <span>My Laboratories</span>
      </button>

      <button
        mat-button
        aria-label="Learnify module button"
        (click)="isProfessor ? goToLearnifyProfessor() : goToLearnifyStudent()"
      >
        <span>Learnify Module</span>
      </button>

      <button
        mat-button
        aria-label="Public reservation list button"
        (click)="goToPublicReservations()"
      >
        <span>Public Rooms</span>
      </button>

      <button
        mat-button
        aria-label="Personal reservation list button"
        (click)="goToMyReservations()"
      >
        <span>My Reservations</span>
      </button>

      <button
        mat-button
        aria-label="Profile list button"
        (click)="goToMyProfile()"
      >
        <span>Profile</span>
      </button>

      <button mat-button aria-label="Logout icon" (click)="logout()">
        <mat-icon class="icon">logout</mat-icon>
        <span>Logout</span>
      </button>
    </div>

    <ng-template #showLoginButton>
      <button mat-button aria-label="Logout icon" (click)="goToLogin()">
        <mat-icon class="icon">login</mat-icon>
        <span>Login / Sign Up</span>
      </button>
    </ng-template>
  </ng-template>
</mat-toolbar>
