#logo {
  margin-right: 8px;
  margin-bottom: 2px;
}

#main-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

#logo-title-group {
  display: flex;
  align-items: center;
  margin-right: 18px;
}

.instructor-access-button {
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-left: 18px;
}

.instructor-access-button mat-icon {
  margin-right: 8px;
}

.icon {
  margin-right: 5px;
}

::ng-deep .mat-menu-panel {
  width: 200px !important;
}

@media (max-width: 600px) {
  #logo {
    width: 25px;
  }

  #navbar-title {
    font-size: 16px;
  }

  #main-label {
    margin-right: 10px;
  }

  .instructor-access-button {
    margin-left: 10px;
    padding: 0 8px;
    font-size: 0.8em;
  }
}

.mat-menu-item .mat-icon[svgIcon="school"] {
  margin-right: 8px;
}
