.reservation-list {
  width: 75%;
}

@media (max-width: 600px) {
  .reservation-list {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .reservation-list {
    width: 95%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .reservation-list {
    width: 85%;
  }
}
