<app-navbar></app-navbar>
<mat-card [ngClass]="{ 'card-booking-stepper': cols === 2 }">
  <div class="page-content">
    <div class="btn-container" *ngIf="lab.type !== 'uc'">
      <button mat-button color="primary" class="card-button" (click)="selectLab(lab)" [disabled]="disabledBooking">
        BOOK >>
      </button>
    </div>
    <div *ngIf="lab">
      <h2 color="primary"> <strong>Remote Laboratory Content</strong></h2>
      <div class="basic-info">
        <div class="basic-image">
          <img [src]="lab.image ?? defaultLabImg" alt="Remote lab" />
        </div>

        <div class="lab-info">
          <p><strong>Name:</strong>{{ lab.name }}</p>
          <p><strong>University:</strong>{{ lab.university }}</p>
          <p><strong>Course:</strong>{{ lab.course }}</p>
          <p><strong>Instructor:</strong>{{ lab.instructor }}</p>
          <p><strong>Description:</strong>{{ lab.description }}</p>
          <div *ngIf="lab.type == 'uc'">
            <p><strong>URL:</strong> <a [href]="lab.url">{{ lab.url }}</a></p>
          </div>
        </div>
      </div>

      <br>

      <div *ngIf="myLabContent.length == 0">
        <span>There are no content for this laboratory.</span>
      </div>

      <div *ngIf="myLabContent.length > 0" class="content-container">
        <div *ngFor="let content of myLabContent" class="content-item">
          <span *ngIf="content['text']" class="text-content">{{ content['text'] }}</span>
          <h1 *ngIf="content['title']">{{ content['title'] }}</h1>
          <h2 *ngIf="content['subtitle']">{{ content['subtitle'] }}</h2>
          <a *ngIf="content['link']" [href]="content['link']">{{content['link']}}</a>
          <img *ngIf="content['image']" [src]="content['image']" class="centered-content" />
          <vg-player *ngIf="content['video']">
            <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls [src]="content['video']"
              class="centered-content"></video>
          </vg-player>
          <div class="youtube-container">
            <youtube-player *ngIf="content['video_link']"
              [videoId]="getVideoId(content['video_link'])"></youtube-player>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
