.table-container {
  padding-left: 30px;
  padding-right: 30px;
}

table {
  width: 100%;
}

#table-title {
  font-weight: 900;
}

#table-header {
  margin-bottom: 15px;
}

.spectrum-image {
  height: 10px;
}

.icon {
  color: gray;
  transform: scale(0.8);
}

.divider {
  margin-top: 30px;
  margin-bottom: 10px;
}
