<!-- templates/registration/password_reset_form.html -->
<body style="margin: 0">
  <div
    style="
      font-family: Arial, Helvetica, sans-serif;
      background-color: #3f51b5;
      color: #fff;
    "
  >
    <h3 style="padding: 20px">Book4RLab</h3>
  </div>

  <div
    style="
      padding-top: 5px;
      padding-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    "
  >
    {% block title %}
    <h3>Password reset</h3>
    {% endblock %} {% block content %}
    <div>
      <p>
        Forgot your password? Enter your email address below, and we'll email
        instructions for setting a new one.
      </p>

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input
          style="
            background-color: #3f51b5;
            color: white;
            width: 200px;
            height: 30px;
            padding: 5px;
            border-radius: 10px;
            text-decoration: none;
          "
          type="submit"
          value="Reset my password"
        />
      </form>
    </div>

    {% endblock %}
  </div>
</body>
