<h2 mat-dialog-title class="text-center">{{ title }}</h2>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Remote Laboratory">
    <mat-dialog-content>
      <form [formGroup]="labForm" ngNoForm>
        <p class="dialog-label">Laboratory:</p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>University</mat-label>
          <input matInput formControlName="university" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>University Abbreviation</mat-label>
          <input matInput formControlName="university_abbreviation" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Project Tag</mat-label>
          <input matInput formControlName="project_tag" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Course</mat-label>
          <input matInput formControlName="course" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="selection-field">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of laboratoryTypes" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="selection-field">
          <mat-label>Availability Type</mat-label>
          <mat-select formControlName="availability_type">
            <mat-option *ngFor="let option of availabilityTypeOptions" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="instructor-container">
          <p class="dialog-label">Instructors:</p>
          <ng-container *ngIf="labForm.controls['instructor'] as instructorsArray">
            <div class="instructor-group" *ngFor="let instructorControl of instructorsArray.controls; let i = index">
              <div class="input-field">
                <mat-form-field appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput [formControl]="instructorControl" />
                  <mat-error *ngIf="instructorControl.invalid">
                    {{ getFullNameMessage(instructorControl) }}
                  </mat-error>
                </mat-form-field>
              </div>
              <button mat-icon-button color="warn" (click)="removeInstructor(i)" [disabled]="labForm.controls['instructor'].length === 1">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
          <div class="add-buttons-container instructor-buttons-container">
            <button mat-raised-button color="primary" (click)="addInstructor()" matTooltip="Add a new instructor.">
              New instructor
            </button>
            <button mat-raised-button color="primary" (click)="setMeAsInstructor()"
              matTooltip="Set your profile as instructor.">
              Add me
            </button>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
          </div>
        </div>

        <div class="input-field">
          <div *ngIf="imageName != ''; else showImageLabel">
            <p>
              <strong>Current Image: </strong>
              {{ imageName }}
            </p>

            <p>
              <strong>If you want to change, choose another:</strong>
            </p>
          </div>

          <ng-template #showImageLabel>
            <p class="dialog-label">Choose an image for the laboratory:</p>
          </ng-template>

          <input class="file" type="file" name="Image" accept="image/*" (change)="onFileChange($event)" />
          <div *ngIf="imageControl.errors && (imageControl.dirty || submitted)" class="text-danger">
            <div *ngIf="imageControl.errors['required']">Image is required</div>
          </div>
        </div>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" />
          <mat-error *ngIf="urlControl.invalid">
            {{ getUrlErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Description</mat-label>
          <textarea #description matInput formControlName="description" maxlength="500" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="15"></textarea>
          <mat-hint align="end">{{ description.value.length }} / 500 </mat-hint>
        </mat-form-field>

        <mat-checkbox class="input-field" id="visibility-checkbox" formControlName="visible">
          Visible
        </mat-checkbox>

        <mat-checkbox class="input-field" id="notify-owner-checkbox" formControlName="notify_owner">
          Notify me when a booking is placed
        </mat-checkbox>

        <div class="email-container">
          <p class="dialog-label">Allowed emails:</p>
          <p class="dialog-sublabel">
            Add the email addresses that will be able to book a timeframe in your laboratory.
          </p>
          <ng-container *ngIf="labForm.controls['allowed_emails'] as emailsArray">
            <div class="email-group" *ngFor="let emailControl of emailsArray.controls; let i = index">
              <div class="input-field">
                <mat-form-field appearance="fill">
                  <mat-label>Email Address</mat-label>
                  <input matInput [formControl]="emailControl" />
                  <mat-error *ngIf="emailControl.invalid">
                    {{ getEmailMessage(emailControl) }}
                  </mat-error>
                </mat-form-field>
              </div>
              <button mat-icon-button color="warn" (click)="removeEmail(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
          <div class="add-buttons-container">
            <button mat-raised-button color="primary" (click)="addEmail()" matTooltip="Add an email address manually.">
              Add email
            </button>
            <button mat-raised-button color="primary" (click)="fileInput.click()"
              matTooltip="The file must contain comma separated emails or one email address per line (without commas).">
              Load emails from file
            </button>
            <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
          </div>
        </div>

        <p class="mat-small">* Indicates required fields.</p>
      </form>
    </mat-dialog-content>
  </mat-tab>
  <mat-tab [disabled]='!onUpdate' label="Remote Laboratory Content">
    <mat-dialog-content class="lab-description-content">
      <app-lab-description #description [labId]="selectedLabId"></app-lab-description>
    </mat-dialog-content>

  </mat-tab>
</mat-tab-group>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="resetDialog()">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
