.file-label {
  font-weight: bold;
}

.file {
  margin-bottom: 20px;
}

#visibility-checkbox {
  margin-bottom: 20px;
}

mat-dialog-content{
  width: 105%;
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 60vh;
}

