.file-label {
  font-weight: bold;
}

.file {
  margin-bottom: 20px;
}

#visibility-checkbox {
  margin-bottom: 20px;
}

mat-dialog-content {
  width: 105%;
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 60vh;
}

.email-container {
  margin-top: 2%;
  margin-bottom: 5%;
}

.email-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.mat-icon {
  cursor: pointer;
}

.input-field {
  height: auto;
}

.selection-field {
  padding-left: 10px;
}

.mat-form-field {
  width: 100%;
}

.dialog-label {
  font-weight: bold;
}

.dialog-sublabel {
  font-style: italic;
  margin-bottom: 2%;
}

.add-buttons-container {
  display: flex;
}

.add-buttons-container button {
  margin-right: 10px;
}
