.file-label {
  font-weight: bold;
}

.file {
  margin-bottom: 20px;
}

#visibility-checkbox {
  margin-bottom: 20px;
}

.mat-dialog-title{
  margin-top: 12px;
  margin-bottom: 12px;;
}

.mat-dialog-content {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  min-height: 60vh;
}

.email-container {
  margin-bottom: 12px;
}

.email-group {
  display: flex;
  align-items: center;
}

.instructor-container {
  margin-top: 8px;
}

.instructor-group {
  display: flex;
  align-items: center;
}

.mat-icon {
  cursor: pointer;
}

input[type="file"].file {
  width: 100%;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}

.input-field {
  padding-left: 0px;
  height: auto;
}

.selection-field {
  height: auto;
  padding-bottom: 10px;
}

.image-field {
  margin-bottom: 0px;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.dialog-label {
  font-weight: bold;
}

.dialog-sublabel {
  font-style: italic;
  margin-bottom: 2%;
}

.add-buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.instructor-buttons-container {
  margin-bottom: 20px;
}

.lab-description-content {
  margin-top: 30px;
}

.remote-lab-img {
  margin-left: 0px;
  height: 100%;
  width: 100%;
}

.cover-image-text{
  padding-bottom: 16px;
  display: block;
}

.save-button {
  margin-right: 24px;
}

@media (max-width: 600px) {
  .add-buttons-container {
    flex-direction: column;
  }

  .has-error{
    padding-bottom: 26px;
  }

  .mat-dialog-title{
    margin-top: 0px;
    margin-bottom: 4px;
  }

  .mat-dialog-content {
    padding-left: 2px;
    padding-right: 8px;
  }
}