<h2>Reservation</h2>
<p>
  Please save the link or the QR image, you need this to enter your reservation
  lab.
</p>

<p><strong>It will start:</strong> {{ startDate }}.</p>

<div *ngIf="isBookingLinkAvailable(); else loading">
  <div>
    <p>
      <strong>Private access url: </strong
      ><a [href]="privateBookingLink">{{ privateBookingLink }}</a>
    </p>
    <p><strong>QR:</strong></p>
    <qr-code
      class="center-container"
      [value]="privateBookingLink"
      size="200"
      errorCorrectionLevel="M"
    ></qr-code>
  </div>

  <!--<div *ngIf="publicBookingLink !== ''">
    <p>
      <strong>Public access url: </strong
      ><a [href]="publicBookingLink">{{ publicBookingLink }}</a>
    </p>
    <p><strong>QR:</strong></p>
    <qr-code
      class="center-container"
      [value]="publicBookingLink"
      size="200"
      errorCorrectionLevel="M"
    ></qr-code>
  </div>-->
</div>

<ng-template #loading>
  <div class="center-container">
    <mat-progress-spinner
      class="spinner"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</ng-template>
