<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="user@gmail.com" formControlName="email" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="isInvalidEmail()">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      tabindex="-1"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button class="access-button" type="submit" mat-raised-button color="primary">
    Sign In
  </button>
</form>
