<div class="page-content">
  <div class="mat-elevation-z2 table">
    <mat-card class="table-header mat-elevation-z8" id="labs-header">
      <mat-card-title-group>
        <mat-card-title class="table-title">{{ tableTitle }}</mat-card-title>
        <div>
          <button
            mat-fab
            id="labs-header-btn"
            aria-label="Add lab button"
            (click)="openLabDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-title-group>
    </mat-card>

    <mat-table class="table-content" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          mat-sort-header-default
          >Id</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Id:</span>
          {{ element.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Name:</span>
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">URL:</span>
          {{ element.url }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Action:</span>
          <button
            mat-icon-button
            class="action-button"
            (click)="updateLab(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="action-button"
            (click)="openDeleteDialog(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            class="action-button"
            (click)="goToAssignments(element.id)"
          >
            <mat-icon>assignment_add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell">There are not registered labs.</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20]"> </mat-paginator>
  </div>
</div>
