<form
  class="form"
  [formGroup]="registrationForm"
  #formDirective="ngForm"
  (ngSubmit)="saveUser(formDirective)"
  (keydown.enter)="$event.preventDefault()"
>
  <mat-form-field class="input-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Country</mat-label>
    <mat-icon matSuffix>travel_explore</mat-icon>
    <input
      type="text"
      matInput
      formControlName="country"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getCountryName">
      <mat-option
        *ngFor="let country of filteredOptions | async"
        [value]="country"
      >
        {{ country.name }}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="getCountryControlError()">
      Country value need match available options.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="user@gmail.com" formControlName="email" />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
    />

    <mat-error *ngIf="getPasswordControlError()">
      Password must have at least 8 characters.
    </mat-error>

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      tabindex="-1"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Password confirmation</mat-label>
    <input
      matInput
      [type]="hidePasswordConfirmation ? 'password' : 'text'"
      formControlName="passwordConfirmation"
    />

    <mat-error *ngIf="isPasswordConfirmationValid()">
      Password and confirmation password does not match.
    </mat-error>

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
      [attr.aria-label]="'Hide password confirmation'"
      [attr.aria-pressed]="hidePasswordConfirmation"
      tabindex="-1"
    >
      <mat-icon>{{
        hidePasswordConfirmation ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>

  <p class="mat-caption">Required fields are marked with *</p>

  <button class="access-button" type="submit" mat-raised-button color="primary">
    Sign Up
  </button>
</form>
