<div id="light-controller-card">
  <p class="title">Light source control</p>
  <div class="row light-controller-row">
    <div class="cols-3">
      <div class="center">
        <span>Red</span>
        <span class="red dot"></span>
      </div>
      <div class="center switch">
        <mat-slide-toggle
          color="primary"
        ></mat-slide-toggle>
      </div>
    </div>

    <div class="cols-3">
      <div class="center">
        <span>Green</span>
        <span class="green dot"></span>
      </div>
      <div class="center switch">
        <mat-slide-toggle
          color="primary"
        ></mat-slide-toggle>
      </div>
    </div>

    <div class="cols-3">
      <div class="center">
        <span>Blue</span>
        <span class="blue dot"></span>
      </div>
      <div class="center switch">
        <mat-slide-toggle
          color="primary"
        ></mat-slide-toggle>
      </div>
    </div>

    <div class="cols-3">
      <div class="center">
        <span>Neon</span>
        <span class="neon dot"></span>
      </div>
      <div class="center switch">
        <mat-slide-toggle
          color="primary"
        ></mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
