.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.red {
  background-color: rgb(212, 0, 0);
}

.green {
  background-color: rgb(2, 109, 19);
}

.blue {
  background-color: rgb(13, 1, 117);
}

.neon {
  background-color: rgb(186, 199, 2);
}

.switch {
  margin-top: 15px;
}

#light-controller-card {
  height: 130px;
}

.light-controller-row {
  margin-top: 10px;
}
