<h2 mat-dialog-title class="text-center">{{ title }}</h2>

<mat-dialog-content>
  <form [formGroup]="equipmentForm">
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Number of bookings per user</mat-label>
      <input
        matInput
        type="number"
        formControlName="bookings_per_user"
        min="1"
        max="10"
      />
      <mat-error *ngIf="equipmentForm.get('bookings_per_user')?.hasError('min')">
        The minimum value allowed is 1.
      </mat-error>
      <mat-error *ngIf="equipmentForm.get('bookings_per_user')?.hasError('max')">
        The maximum value allowed is 10.
      </mat-error>
    </mat-form-field>

    <p class="mat-small">* Indicates required fields.</p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="resetDialog()">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="save()">
    Save
  </button>
</mat-dialog-actions>
