<mat-card [ngClass]="{ 'card-booking-stepper': cols === 2 }">
  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    #stepper
    id="stepper"
  >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select date and time</ng-template>
        <div class="row">
          <div class="column">
            <h2>Available dates</h2>
            <mat-card class="calendar-card">
              <mat-calendar
                [selected]="selectedDate"
                [startAt]="startAt"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (selectedChange)="onSelect($event)"
              ></mat-calendar>
            </mat-card>
          </div>

          <div class="column">
            <mat-form-field appearance="fill" class="selector">
              <mat-label>Laboratories</mat-label>
              <mat-select [value]="labSelectedValue">
                <mat-option *ngFor="let lab of labs" [value]="lab.id">{{ lab.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="selector">
              <mat-label>Materials</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let kit of kits"
                  [value]="kit.id"
                  >{{ kit.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <app-available-hours></app-available-hours>
          </div>
        </div>

        <div class="next-step">
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Confirm appointment</ng-template>
        <app-confirmation-form></app-confirmation-form>

        <div class="space-between">
          <button mat-raised-button matStepperPrevious color="primary">Back</button>
          <button mat-raised-button matStepperNext color="primary">Done</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</mat-card>
