<mat-card [ngClass]="{ 'card-booking-stepper': cols === 2 }">
  <countdown class="timer" [config]="config"></countdown>
  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    linear
    id="stepper"
  >
    <mat-step [stepControl]="reservationFormGroup" [editable]="isEditable">
      <form [formGroup]="reservationFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Select date and time</ng-template>
        <div class="row">
          <div class="column">
            <h2>Available dates</h2>
            <mat-card class="calendar-card">
              <mat-calendar
                [selected]="reservationFormGroup.controls['selectedDate'].value"
                [startAt]="startAt"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (selectedChange)="onSelectDate($event)"
              ></mat-calendar>
            </mat-card>
          </div>

          <div class="column">
            <mat-form-field appearance="fill" class="selector">
              <mat-label>Laboratories</mat-label>
              <mat-select formControlName="selectedLab" required>
                <mat-option *ngFor="let lab of labs" [value]="lab.id">{{
                  lab.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="selector">
              <mat-label>Materials</mat-label>
              <mat-select formControlName="selectedKit">
                <mat-option *ngFor="let kit of kits" [value]="kit.id">
                  {{ kit.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <app-available-hours
              (selectedHourEvent)="updateSelectedHour($event)"
            ></app-available-hours>
          </div>
        </div>

        <div class="next-step">
          <button
            color="primary"
            [disabled]="!reservationFormGroup.valid"
            mat-raised-button
            matStepperNext
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>Confirm appointment</ng-template>
      <app-confirmation-form
        [reservation]="reservationData"
      ></app-confirmation-form>

      <div class="space-between">
        <button mat-raised-button matStepperPrevious color="primary">
          Back
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          (click)="saveReservation()"
        >
          Done
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Reservation done</ng-template>
      <app-booking-link [bookingLink]="accessUrl"></app-booking-link>
    </mat-step>
  </mat-stepper>
</mat-card>
