/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.card {
  margin: 20px 30px;
}

.title {
  text-align: center;
  font-weight: 900;
  padding-bottom: 10px;
  font-size: 16px;
}

.form {
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.col {
  flex: 50%;
  flex-direction: column;
}

.cols-3 {
  flex: 33%;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-min-value {
  margin-right: 10px;
  margin-left: 15px;
}

.slider-max-value {
  margin-right: 15px;
  margin-left: 10px;
}

.first-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.mat-success {
  background-color: rgb(1, 156, 1);
  color: #fff;
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #3b3b3b !important;
}

.input-field {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.access-button {
  width: 100%;
}

.input-field + .access-button {
  margin-top: 20px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
