.reservation-card {
  margin: 5px 10px;
  padding-top: 0px;
}

.extra-padding {
  padding-bottom: 20px;
}

.reservation-link {
  word-break: break-all;
}

.cols-2 {
  float: left;
  width: 67%;
}

.col-1 {
  float: left;
  width: 30%;
  text-align: center;
}

@media (max-width: 850px) {
  .cols-2,
  .col-1 {
    width: 100%;
  }
}

@media (min-width: 850px) and (max-width: 1500px) {
  .cols-2 {
    float: left;
    width: 55%;
  }

  .col-1 {
    float: left;
    width: 45%;
  }

  .extra-padding {
    padding-bottom: 50px;
  }
}

.reservation-type-row {
  display: inline-flex;
  align-items: center;
}

.icon {
  transform: scale(0.65);
  margin-bottom: 4.5px;
}
