<mat-card
  appCardElevation
  class="reservation-card"
  [ngClass]="{ 'extra-padding': !showCancelButton() , 'private-card': privateList, 'public-card': !privateList }"
  *ngIf="dataReady"
>
  <p class="title">Reservation N° {{ reservation.id }}</p>

  <div class="row">
    <div class="cols-2">
      <p><strong>Lab:</strong> {{ lab.name }}</p>
      <p><strong>Equipment:</strong> {{ equipment.name }}</p>
      <p>
        <strong>Start date:</strong>
        {{ getFormattedDate(reservation.start_date!) }}
      </p>
      <p>
        <strong>End date:</strong>
        {{ getFormattedDate(reservation.end_date!) }}
      </p>
      <p *ngIf="!privateList">
        <strong>Reserved by:</strong>
        {{ getReservedBy() }}
      </p>
      <p *ngIf="privateList" class="reservation-type-row">
        <span><strong>Type:</strong> {{ getReservationType() }}</span>

        <mat-icon class="icon">
          {{ reservation.public ? "public" : "lock" }}
        </mat-icon>
      </p>
    </div>

    <div class="col-2 qr-container">
      <qr-code
        [value]="privateList ? getPrivateAccessUrl() : getPublicAccessUrl()"
        errorCorrectionLevel="M"
        qrc-class="qr"
        size="150"
      ></qr-code>
    </div>
  </div>

  <div *ngIf="privateList; else publiclink">
    <p>
      <strong>Private link: </strong>
      <a
        class="reservation-link"
        [href]="getPrivateAccessUrl()"
        target="_blank"
        >{{ getPrivateAccessUrl() }}</a
      >
    </p>
    <p *ngIf="reservation.public">
      <strong>Public link: </strong>
      <a
        class="reservation-link"
        [href]="getPublicAccessUrl()"
        target="_blank"
        >{{ getPublicAccessUrl() }}</a
      >
    </p>
  </div>

  <ng-template #publiclink>
    <span>
      <strong>Link: </strong>
      <a
        class="reservation-link"
        [href]="getPublicAccessUrl()"
        target="_blank"
        >{{ getPublicAccessUrl() }}</a
      >
    </span>
  </ng-template>

  <mat-card-actions align="end" *ngIf="showCancelButton()">
    <button
      class="cancel-button"
      mat-raised-button
      color="primary"
      (click)="openConfirmationDialog()"
    >
      CANCEL
    </button>
  </mat-card-actions>
</mat-card>
