<mat-nav-list>
  <div class="logo-container center py-4">
    <img id="logo-img" src="./assets/logo.png" alt="UPB logo" />
    <span id="sidenav-title">{{ title }}</span>
  </div>

  <mat-divider id="divider"></mat-divider>

  <div class="side-nav-content">
    <mat-list-item
      routerLink="/labs"
      routerLinkActive="list-item-active"
      (click)="closeSidebar()"
    >
      <mat-icon class="item-icon">dashboard</mat-icon> 
      <span>Laboratories</span>
    </mat-list-item>
  </div>
</mat-nav-list>
