.logo-container {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidenav-title {
  font-size: 17px;
  font-weight: 500;
}

#logo-img {
  width: 40px;
  margin-right: 10px;
}

#divider {
  background-color: white;
}

.side-nav-content {
  padding-top: 20px;
}

.item-icon {
  margin-right: 15px;
  color: white;
}

mat-list-item {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.list-item-active {
  color: white;
}
