#zoom-container {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#zoom-in-button {
  margin-right: 15px;
}

#arrow-container {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.top,
.middle,
.bottom {
  display: flex;
  flex-direction: row;
}

.top,
.bottom {
  justify-content: center;
}

.middle {
  justify-content: space-between;
}

mat-icon + span {
  margin-left: 10px;
}

#camera-controller {
  margin-right: 50px;
  margin-left: 0px;
}
