<ng-http-loader
  [backdrop]="true"
  backgroundColor="#ffffff"
  [debounceDelay]="100"
  [extraDuration]="300"
  [minDuration]="300"
  opacity="12"
  [backdropBackgroundColor]="'#3f51b5'"
  [spinner]="spinkit.skDoubleBounce"
>
</ng-http-loader>

<mat-sidenav-container
  *ngIf="router.url != '/access' && showSidenav; else login"
>
  <mat-sidenav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>
