<section class="page-404">
  <div class="container">
    <div class="text-center">
      <h1 id="title-404">Oops!</h1>

      <img src="./assets/error.png" id="img-404" alt="404 image" />

      <div class="msg-box-404">
        <h3 class="h2">404 - Page not found</h3>

        <p>
          The page you are looking for might have been removed or it is
          temporarily unavailable.
        </p>

        <button mat-raised-button color="primary" (click)="goToBooking()">
          Go to homepage
        </button>
      </div>
    </div>
  </div>
</section>
