<div class="main-container">
  <mat-card class="card">
    <div class="custom-header">
      <mat-card-title class="custom-title">Account Activation</mat-card-title>
    </div>
    <mat-card-content class="text">
      <div *ngIf="!activationStatus">
        <p>Please check your email (or your Spam folder).</p>
        <p>An activation link has been sent.</p>
      </div>
      <div *ngIf="activationStatus === 'success'">
        <p>Your account has been activated successfully!</p>
        <p>You will be redirected to the login page.</p>
      </div>
      <div *ngIf="activationStatus === 'error'">
        <p>There was an error activating your account.</p>
        <p>Invalid URL.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
