html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}

.toast-container .ngx-toastr {
  box-shadow: 0 0 12px #3b3b3b !important;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}

.input-field + .access-button {
  margin-top: 20px;
}

form {
  padding: 30px;
}

.access-button {
  width: 100%;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
