<app-navbar></app-navbar>

<mat-card [ngClass]="{ 'card-booking-stepper': cols === 2 }">
  <countdown
    #cd
    class="timer"
    [config]="timerConfig"
    (event)="handleEvent($event)"
  ></countdown>
  <mat-stepper
    #stepper
    [orientation]="(stepperOrientation | async)!"
    linear
    id="stepper"
    (selectionChange)="onStepChange($event)"
  >
    <mat-step
      [stepControl]="reservationFormGroup"
      [editable]="isEditable"
      [completed]="isFirstStepCompleted"
    >
      <form [formGroup]="reservationFormGroup" (ngSubmit)="followNextStep()">
        <ng-template matStepLabel>Select date and time</ng-template>
        <div class="row">
          <div class="calendar-column">
            <h2>Available dates</h2>
            <mat-card class="calendar-card" *ngIf="showCalendar; else spinner">
              <mat-calendar
                #calendar
                [selected]="selectedDate"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (selectedChange)="onSelectDate($event)"
                [dateClass]="dateClass"
              ></mat-calendar>
            </mat-card>
            <ng-template #spinner>
              <app-spinner></app-spinner>
            </ng-template>

            <div class="info">
              <div class="box yellow-date"></div>
              <span>There are few slots available.</span>
            </div>
            <div class="info">
              <div class="box green-date"></div>
              <span> There are many slots available. </span>
            </div>
          </div>

          <div class="hours-column">
            <mat-form-field appearance="fill" class="selector">
              <mat-label>Selected lab</mat-label>
              <input
                matInput
                formControlName="selectedLab"
                [value]="selectedLab.name"
                readonly
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              class="selector"
              *ngIf="hasEmptyEquipment(); else equipmentsSelector"
            >
              <mat-label>No equipment available</mat-label>
              <input matInput disabled />
            </mat-form-field>

            <ng-template #equipmentsSelector>
              <mat-form-field appearance="fill" class="selector">
                <mat-label>Equipment</mat-label>
                <mat-select
                  formControlName="selectedEquipment"
                  (selectionChange)="
                    getHoursByEquipmentIdAndDate($event.value.id, selectedDate)
                  "
                >
                  <mat-option *ngFor="let equipment of equipments" [value]="equipment">
                    {{ equipment.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            <app-available-hours
              [showSpinner]="showSpinner"
              [hours]="availableHoursBySelectedDate"
              (unavailableHoursEvent)="resetSelectedHour()"
              (selectedHourEvent)="updateSelectedHour($event)"
            >
            </app-available-hours>
          </div>
        </div>

        <div class="next-step">
          <button
            color="primary"
            [disabled]="!reservationFormGroup.valid"
            mat-raised-button
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>Confirm reservation</ng-template>
      <app-confirmation-form
        [bookingId]="bookingId"
        [selectedEquipment]="selectedEquipment"
        [selectedLab]="selectedLab"
        (reservationTypeEvent)="updateReservationType($event)"
      ></app-confirmation-form>
      <div class="space-between">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          (click)="undoReservation()"
        >
          Back
        </button>
        <button
          mat-raised-button
          matStepperNext
          color="primary"
          (click)="confirmReservation()"
        >
          Done
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Reservation details</ng-template>
      <app-booking-link
        [startDate]="reservationDate"
        [privateBookingLink]="privateAccessUrl"
        [publicBookingLink]="publicAccessUrl"
      ></app-booking-link>
    </mat-step>
  </mat-stepper>
</mat-card>
