<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-field">
    <mat-label>Email</mat-label>
    <input matInput placeholder="user@gmail.com" formControlName="email" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="emailControl.invalid">
      {{ getEmailErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="on" />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide" tabindex="-1">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl.invalid">
      {{ getPasswordErrorMessage() }}
    </mat-error>
  </mat-form-field>

  <p id="password-link">
    <a class="mat-caption" [href]="passwordResetUrl" target="_blank">
      Forgot Password?
    </a>
  </p>

  <button class="access-button" type="submit" mat-raised-button color="primary">
    Sign In
  </button>
</form>
