<div *ngIf="components.length == 0">
  <span class="no-content-span">No laboratory content for now.</span>
  <br />
  <div class="dropdown">
    <button id="btn-add" class="dropbtn" mat-icon-button aria-label="Clear">
      Add new component<mat-icon>add</mat-icon>
    </button>
    <div class="dropdown-content">
      <a *ngFor="let type of types" (click)="addNewComponent(type.name, 0)">{{
        type.display
        }}</a>
    </div>
  </div>
</div>
<div *ngIf="components.length > 0">
  <div *ngFor="let component of components; index as i">
    <div class="row">
      <div class="col-1">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="goUp(i)">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="goDown(i)">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
      <div class="col-7">
        <div>
          <mat-form-field *ngIf="component['title'] != null" appearance="fill" class="input-field">
            <mat-label>{{ getType("title") }}</mat-label>
            <input matInput type="text" [(ngModel)]="component['title']" />
          </mat-form-field>

          <mat-form-field *ngIf="component['subtitle'] != null" appearance="fill" class="input-field">
            <mat-label>{{ getType("subtitle") }}</mat-label>
            <input matInput type="text" [(ngModel)]="component['subtitle']" />
          </mat-form-field>

          <mat-form-field *ngIf="component['text'] != null" appearance="fill" class="input-field">
            <mat-label>{{ getType("text") }}</mat-label>
            <textarea matInput [(ngModel)]="component['text']"></textarea>
          </mat-form-field>

          <mat-form-field *ngIf="component['link'] != null" appearance="fill" class="input-field">
            <mat-label>{{ getType("link") }}</mat-label>
            <input matInput type="text" [(ngModel)]="component['link']" />
          </mat-form-field>

          <div *ngIf="component['image'] != null">
            <div class="input-field">
              <div *ngIf="component['image'] != ''; else showImageLabel">
                <p>
                  <strong>Current Image: </strong>
                </p>
                <img [src]="contentArray[i]" />

                <p>
                  <strong>If you want to change, choose another:</strong>
                </p>
              </div>

              <ng-template #showImageLabel>
                <p class="file-label">Choose a file (under 50MB):</p>
              </ng-template>

              <input class="file" type="file" name="Image" accept="image/*"
                (change)="onUploadFile($event, i, 'image')" />
            </div>
          </div>

          <div *ngIf="component['video'] != null" class="video-container">
            <div *ngIf="component['video'] != ''; else showImageLabel">
              <p>
                <strong>Current Video: </strong>
              </p>
              <vg-player>
                <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls
                  [src]="contentArray[i]"></video>
              </vg-player>

              <p>
                <strong>If you want to change, choose another:</strong>
              </p>
            </div>

            <ng-template #showImageLabel>
              <p class="file-label">Choose a file (under 50MB):</p>
            </ng-template>

            <input type="file" accept="video/*" name="Video" (change)="onUploadFile($event, i, 'video')" />
          </div>

          <mat-form-field *ngIf="component['video_link'] != null" appearance="fill" class="input-field">
            <mat-label>{{ getType("video_link") }}</mat-label>
            <input matInput type="text" [(ngModel)]="component['video_link']" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-2">
        <div class="dropdown">
          <button class="dropbtn" mat-icon-button aria-label="Clear">
            <mat-icon>add</mat-icon>
          </button>
          <div class="dropdown-content">
            <a *ngFor="let type of types" (click)="addNewComponent(type.name, i)">{{ type.display }}</a>
          </div>
        </div>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="deleteComponent(i)">
          <mat-icon mat-icon-button color="warn">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
