<div class="page-content">
  <div>
    <h3><strong>Laboratory:</strong> {{ selectedLab.name }}</h3>
  </div>
  <div class="mat-elevation-z2 table">
    <mat-card class="table-header mat-elevation-z8" id="equipments-header">
      <mat-card-title-group>
        <mat-card-title class="table-title">{{ tableTitle }}</mat-card-title>
        <div>
          <button
            mat-fab
            id="equipments-header-btn"
            aria-label="Add equipment button"
            (click)="openEquipmentDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-title-group>
    </mat-card>

    <div *ngIf="!isLoading; else spinner">
      <mat-table class="table-content" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Id
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Id:</span>
            {{ element.id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Name</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Name</span>
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Description
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Description: </span>
            {{ element.description }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Action:</span>
            <button
              mat-icon-button
              class="action-button"
              (click)="updateEquipment(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="action-button"
              (click)="openDeleteDialog(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              class="action-button"
              (click)="goToAssignments(element.id)"
            >
              <mat-icon>assignment_add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <tr class="mat-row no-data-row" *matNoDataRow>
          <td class="mat-cell">No equipment assigned.</td>
        </tr>
      </mat-table>
    </div>

    <ng-template #spinner>
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <mat-paginator [pageSizeOptions]="[10, 20]"> </mat-paginator>
  </div>
</div>
