<footer>
  <div>
    <img id="erasmus-logo" src="./assets/erasmus.jpg" width="210px" />

    <div>
      <strong>{{ acronym }} </strong>- Copyright &copy; {{ getCurrentYear() }}
      <span id="version"
        >- <strong>Version {{ version }}</strong></span
      >
    </div>
    <span id="repo">
      Powered by
      <a
        href="https://github.com/eubbc-digital/Book4RLab.git"
        target="_blank"
        class="repo-link"
      >
        <strong>Book4RLab</strong>
      </a>
    </span>
  </div>
</footer>
