footer {
  height: 126px;
  width: 100%;
  color: black;
  text-align: center;
  margin-top: 18px;
}

.repo-link {
  display: inline-block;
  color: #3f51b5;
  text-decoration: none;
}

.repo-link:hover {
  text-decoration: underline;
}

#copyright {
  display: flex;
}

#version {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  footer {
    margin-top: 20px;
    height: 150px;
  }
}
