.image {
  width: 85%;
  padding-left: 67px;
}

#wavelenght-input, #note-name-input {
  margin-right: 15px;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.label {
  margin-left: 10px;
}

@media screen and (max-width: 1300px) {
  .image {
    width: 85%;
  }
}
