.lab-container {
  margin-bottom: 90px;
}

.header {
  margin-bottom: 40px;
}

#search-icon {
  margin-right: 10px;
  color: gray;
}

.searched-lab-field {
  width: 30vw;
}

.card-container {
  padding: 10px;
}

.card {
  width: 100%;
  padding-top: 30px;
  pointer-events: auto;
  transform: scale(1);
  transition: all 0.2s;
  min-height: 500px;
  position: relative;
}

.laboratory-type-header {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  text-align: center;
  z-index: 1;
}

.laboratory-type-header span {
  color: white;
  /* font-weight: bold; */
  padding: 5px 10px;
  border-radius: 5px;
}

.laboratory-type-header span.rt {
  background-color: #63ab67;
}

.laboratory-type-header span.uc {
  background-color: #946db7;
}

.card-header {
  height: 100px;
  margin-bottom: 5%;
  padding-top: 8%;
}

.card-content {
  overflow: auto;
  height: 100px;
}

img {
  height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.04);
}

.card:not(:hover) {
  transform: scale(1);
}

@media (max-width: 600px) {
  .searched-lab-field {
    width: 80vw;
  }
}

@media (min-width: 600px) and (max-width: 991.98px) {
  .searched-lab-field {
    width: 50vw;
  }
}

.actions-c {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: end;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}
